@import "normalize";
@import "html5bp";
@import "compass";

@mixin nice-shadow {
    border: solid 2px white;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
}

#description {
    position: relative;
    height: 1280px;
    min-height: 1280px;
    color: rgba(255, 255, 255, .8);
    font-size: 20px;
    background: url(../img/pencil_nebula.jpg) 50% 0 fixed;
    background-size: 100% auto;
    @include clearfix;
    article {
        height: 1000px;
        width: 100%;
        position: absolute;
        top: 50px;
    }
}
h1 {

}
a {
    text-decoration: none;
    background: rgba(255, 255, 0, .3);
    color: darken(yellow, 40%);
    padding: 1px 2px;
    &:hover {
        color: #000;
        background: yellow;
    }
}

#hosts ul {
    list-style: none;
    padding: 0;
    @include clearfix;
    li {
        float: left;
        margin-right: 10px;
        @include nice-shadow;
        border-width: 1px;
    }
}

#episodes {
    li {
        margin-bottom: 5px;
    }
}

footer {
    font-size: 10px;
    padding-top: 50px;
    clear: both;
}
