@import "normalize";
@import "html5bp";
@import "compass/css3";

$default-text-shadow-color: rgba(#000, 0.6);
$default-text-shadow-blur: 3px;
$default-text-shadow-v-offset: 1px;

body {
    background: #fff;
}
.main {
    margin: 2em auto;
    width: 50em;
    h1 {
        @include single-text-shadow;
    }
    a {
        text-decoration: none;
        background: rgba(255, 255, 0, .3);
        color: darken(yellow, 40%);
        padding: 1px 2px;
        &:hover {
            color: #000;
            background: yellow;
        }
    }
    .icon {
        float: left;
        margin: 0 20px 20px 0;
        @include box-shadow;
    }
    .description {
        width: 300px;
        float: left;
    }
    #subscribe {
        clear: both;
    }
}

#hosts {
    list-style: none;
    padding: 0;
    li {
        float: left;
        margin-right: 10px;
    }
}

footer {
    font-size: 10px;
    padding-top: 50px;
    clear: both;
}
