@import "normalize";
@import "html5bp";
@import "compass";

body {
    font-family: "PT Sans", Helvetica, sans-serif;
    font-size: 1em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    color: rgba(255, 255, 255, .9);
    background: #444;
}
#wrapper {
    margin: 0 5em;
}

section[data-type=background] {
    position: relative;
    @include clearfix;
}

header {
    @include clearfix;
    h2 {
        font-size: 1em;
        font-weight: normal;
    }
    .icon {
        img {
            width: 100%;
            max-width: 300px;
            float: left;
            @include border-radius(10px);
        }
    }
}

#description {
    padding-left: 1em;
    font-size: 1em;
}

#hosts {
    ul {
        list-style: none;
        padding: 0;
        @include clearfix;
        li {
            float: left;
            margin-right: 10px;
            background: rgba(255, 255, 0, 1);
            a {
                padding: 0;
                position: relative;
                display: inline-block;
                border: 2px solid white;
                .caption {
                    opacity: 0;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    background: rgba(255, 0, 255, 0.6);
                    font-size: 1em;
                    color: #fff;
                    span {
                        padding: 5px;
                    }
                    @include transition(0.2s);
                }
                &:hover {
                    .caption {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

#episodes {
}

h1, h2 {
    color: #fff;
}
a {
    text-decoration: none;
    color: rgba(255, 255, 0, 0.8);
    border-bottom: 1px solid rgba(255, 255, 0, 0.2);
    @include transition(0.1s);
    &:hover {
        color: yellow;
        border-color: yellow;
    }
}

#episodes {
    li {
        margin-bottom: 5px;
    }
}

footer {
    font-size: 0.7em;
    padding: 50px 0 20px 0;
    color: rgba(255, 255, 255, 0.4);
    a {
        padding: 0;
        background: none;
    }
}
