{%- set currentItemIndex = 0 -%}

{%- for item in collection -%}
    {%- if item.url == page.url -%}
        {%- set currentItemIndex = loop.index0 -%}
    {%- endif -%}
{%- endfor -%}

{%- set prevItemIndex = currentItemIndex - 1 -%}
{%- set nextItemIndex = currentItemIndex + 1 -%}

{%- if prevItemIndex or nextItemIndex -%}
<nav>
    <ul>
        <li class="prev">
        {% if prevItemIndex >= 0 %}
            {%- set prev = collection[prevItemIndex] -%}
            <a href="{{ prev.url }}">◀ Episode {{ prev.data.episode }}: {{ prev.data.title }}</a>
        {%- endif %}
        </li>
        <li class="next">
        {% if nextItemIndex < collection.length %}
            {%- set next = collection[nextItemIndex] -%}
            <a href="{{ next.url }}">Episode {{ next.data.episode }}: {{ next.data.title }} ▶</a>
        {%- endif %}
        </li>
    </ul>
</nav>
{%- endif -%}
