Options +FollowSymLinks
RewriteEngine on

RewriteRule ^news/?$ https://app.e2ma.net/app2/audience/signup/1730553/31622/?v=a [R=301,L]
RewriteRule ^zero/?$ http://3rdaverad.io/shows/jawgrind/episodes/episode-0/ [R=301,L]
RewriteRule ^0/?$ http://3rdaverad.io/shows/jawgrind/episodes/episode-0/ [R=301,L]
RewriteRule ^1/?$ http://3rdaverad.io/shows/jawgrind/episodes/episode-1/ [R=301,L]
RewriteRule ^2/?$ http://3rdaverad.io/shows/jawgrind/episodes/episode-2-stephens-moustache/ [R=301,L]
RewriteRule ^3/?$ http://3rdaverad.io/shows/jawgrind/episodes/episode-3-hot-dog-tacos/ [R=301,L]
RewriteRule ^4/?$ http://3rdaverad.io/shows/jawgrind/episodes/episode-4-your-little-faces-light-up-when-you-talk/ [R=301,L]
RewriteRule ^5/?$ http://3rdaverad.io/shows/jawgrind/episodes/episode-5-the-girl-with-the-wicker-basket-hair/ [R=301,L]
RewriteRule ^6/?$ http://3rdaverad.io/shows/jawgrind/episodes/episode-6-dysentery-ha-ha/ [R=301,L]
RewriteRule ^7/?$ http://3rdaverad.io/shows/jawgrind/episodes/episode-7-lieutenant-don-knotts/ [R=301,L]
RewriteRule ^8/?$ http://3rdaverad.io/shows/jawgrind/episodes/episode-8/ [R=301,L]
RewriteRule ^9/?$ http://3rdaverad.io/shows/jawgrind/episodes/episode-9-adjacent-jasons/ [R=301,L]
RewriteRule ^10/?$ http://3rdaverad.io/shows/jawgrind/episodes/episode-10-brown-butter-delivery/ [R=301,L]
RewriteRule ^11/?$ http://3rdaverad.io/shows/jawgrind/episodes/episode-11-the-shat/ [R=301,L]
RewriteRule ^12/?$ http://3rdaverad.io/shows/jawgrind/episodes/episode-12-yeoman-backrub/ [R=301,L]
RewriteRule ^13/?$ http://3rdaverad.io/shows/jawgrind/episodes/episode-13-coffee-with-the-gorn/ [R=301,L]
RewriteRule ^14/?$ http://3rdaverad.io/shows/jawgrind/episodes/episode-14-space-matlock/ [R=301,L]
RewriteRule ^15/?$ http://3rdaverad.io/shows/jawgrind/episodes/episode-15-latin-sikh/ [R=301,L]
RewriteRule ^16/?$ http://3rdaverad.io/shows/jawgrind/episodes/episode-16-the-flesh-of-1000-ear-slugs/ [R=301,L]
RewriteRule ^17/?$ http://3rdaverad.io/shows/jawgrind/episodes/deus-ex-eyelid/ [R=301,L]
RewriteRule ^18/?$ http://3rdaverad.io/shows/jawgrind/episodes/episode-18-showtime-at-the-apollo/ [R=301,L]
RewriteRule ^19/?$ http://3rdaverad.io/shows/jawgrind/episodes/episode-19-we-watch-star-trek-so-you-dont-have-to/ [R=301,L]
RewriteRule ^20/?$ http://3rdaverad.io/shows/jawgrind/episodes/episode-20-pt-to-the-max-sd/ [R=301,L]
RewriteRule ^21/?$ http://3rdaverad.io/shows/jawgrind/episodes/episode-21-the-carcasses-of-the-parrot-crabs/ [R=301,L]
RewriteRule ^22/?$ http://3rdaverad.io/shows/jawgrind/episodes/episode-22-respectable-voltage/ [R=301,L]
RewriteRule ^23/?$ http://3rdaverad.io/shows/jawgrind/episodes/episode-23-proto-bronies/ [R=301,L]
RewriteRule ^24/?$ http://3rdaverad.io/shows/jawgrind/episodes/episode-24-sans-phil/ [R=301,L]
RewriteRule ^25/?$ http://3rdaverad.io/shows/jawgrind/episodes/episode-25-klingoni-for-francis/ [R=301,L]
RewriteRule ^26/?$ http://3rdaverad.io/shows/jawgrind/episodes/episode-26-driving-mr-spock/ [R=301,L]
RewriteRule ^27/?$ http://3rdaverad.io/shows/jawgrind/episodes/episode-27-an-abacus-of-pcbs/ [R=301,L]
RewriteRule ^28/?$ http://3rdaverad.io/shows/jawgrind/episodes/episode-28-oooh-mister-spock/ [R=301,L]
RewriteRule ^29/?$ http://3rdaverad.io/shows/jawgrind/episodes/episode-29-captain-dunsel/ [R=301,L]
RewriteRule ^30/?$ http://3rdaverad.io/shows/jawgrind/episodes/episode-30-backdoor-pilot/ [R=301,L]
RewriteRule ^31/?$ http://3rdaverad.io/shows/jawgrind/episodes/episode-31-first-officer-of-the-enterprise/ [R=301,L]
RewriteRule ^32/?$ http://3rdaverad.io/shows/jawgrind/episodes/episode-32-rub-the-obelisk/ [R=301,L]
RewriteRule ^33/?$ http://3rdaverad.io/shows/jawgrind/episodes/episode-33-totes-jefferies/ [R=301,L]
RewriteRule ^34/?$ http://3rdaverad.io/shows/jawgrind/episodes/episode-34-shat-assery/ [R=301,L]

# ErrorDocument 404 /404.php
