Options +FollowSymLinks
RewriteEngine on

# no-www
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

RewriteRule ^news/?$ https://app.e2ma.net/app2/audience/signup/1730553/31622/?v=a [R=301,L]

# remove .html
RewriteRule ^([^\.]+)$ $1.html [NC,L]

# redirect from .html
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.html [NC]
RewriteRule ^ %1 [R,L]
