Options +FollowSymLinks
RewriteEngine on

# no-www
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

RewriteRule ^news/?$ https://app.e2ma.net/app2/audience/signup/1730553/31622/?v=a [R=301,L]

RewriteRule ^([A-Za-z0-9\_-]+)?$ /episode.php?number=$1 [QSA,L]
# remove trailing slash
RewriteRule ^([A-Za-z0-9\_-]+)?/?$ /$1 [R]
