---
layout: default
bodyclass: episode
---

<h1>Episode {{ page.permalink }}: {{ page.title }}</h1>

<ul class="meta">
    {% if page.recorded %}
    <li>Recorded: {{ page.recorded | date: '%A, %B %e, %Y' }}</li>
    {% endif %}
    <li>Published: {{ page.date | date: '%A, %B %e, %Y' }}</li>
    <li><a href="http://jawgrind.s3.amazonaws.com/Jawgrind-Episode-{{ page.permalink }}.mp3">☞ Download {{ page.filesize }} MB</a> / Runtime {{ page.runtime }} </li>
</ul>

<div><audio src="http://jawgrind.s3.amazonaws.com/Jawgrind-Episode-{{ page.permalink }}.mp3" controls preload="none"></audio></div>

<div class="notes">
    {{ content }}
</div>

<nav>
    <ul>
        {% if page.previous.url %}
        <li class="prev"><a href="{{ site.url }}{{ page.previous.url }}">◀ Episode {{ page.previous.permalink }}: {{ page.previous.title }}</a></li>
        {% endif %}
        {% if page.next.url %}
        <li class="next"><a href="{{ site.url }}{{ page.next.url }}">Episode {{ page.next.permalink }}: {{ page.next.title }} ▶</a></li>
        {% endif %}
    </ul>
</nav>
