---
layout: layouts/default.njk
---

<section id="main">
    <div class="icon"><img src="{{ site.url }}/img/jawgrind.jpg" alt="Jawgrind's mascot"></div>
    <section id="description">
        <p>Jawgrind is where <a href="https://twitter.com/calem">Cale</a>,
        <a href="https://twitter.com/ploafmaster">Daniel</a>,
        <a href="https://twitter.com/super_structure">Jason</a>,
        <a href="https://twitter.com/philbarbato">Phil</a>, and
        <a href="https://twitter.com/trey">Trey</a> talk about Star Trek.</p>
        <p>So far, we've talked about episodes of <a href="http://en.wikipedia.org/wiki/Star_Trek:_The_Original_Series">The Original Series</a>, but we plan to move onto the movies with the original cast and then <a href="http://en.wikipedia.org/wiki/Star_Trek_animated_series">The Animated Series</a>, <a href="http://en.wikipedia.org/wiki/Star_Trek:_The_Next_Generation">TNG</a>, <a href="http://en.wikipedia.org/wiki/DS9">DS9</a>, <a href="http://en.wikipedia.org/wiki/Star_Trek:_Voyager">Voyager</a>, and <a href="http://en.wikipedia.org/wiki/Star_Trek:_Enterprise ">Enterprise</a>. And then the rest of the movies. So. Basically everything. Eventually. Stick with us, won't you?</p>
        <p>The show evolved out of a tech news podcast of sorts, but you can find the first bits of the current incarnation starting in <a href="/4">Episode 4</a>.</p>
    </section>
    <section id="hosts">
        <ul>
            <li><a href="http://midnightcheese.com"><img src="/img/calem.jpg" alt="Cale Mooth"><span class="caption"><span>Cale</span></span></a></li>
            <li><a href="https://danielwarshaw.com"><img src="/img/ploafmaster.jpg" alt="Daniel Warshaw"><span class="caption"><span>Daniel</span></span></a></li>
            <li><a href="http://jasoncoleman.net"><img src="/img/super_structure.jpg" alt="Jason Coleman"><span class="caption"><span>Jason</span></span></a></li>
            <li><a href="https://twitter.com/philbarbato"><img src="/img/philbarbato.jpg" alt="Phil Barbato"><span class="caption"><span>Phil</span></span></a></li>
            <li><a href="http://treypiepmeier.com"><img src="/img/trey.jpg" alt="Trey Piepmeier"><span class="caption"><span>Trey</span></span></a></li>
        </ul>
    </section>
</section>

<section id="episodes">
    <h3>Episodes</h3>
    <div>
        <ol start="{{ collections.posts.length -1 }}" reversed>
        {% for post in collections.posts | reverse %}
            <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
        {% endfor %}
        </ol>
    </div>
</section>
